.assortment{

	margin: 10% 0;

	.left-section{

		.nav-category{

			padding-top: 8%;

			ul {
				li{

					margin-bottom: 15px;
					a{
						color: $black;
						font-size: 1.3em;

						@include transition(all .3s $ease-out-quad);

						&:focus, &:hover{
							color: $red;
						}
					}
				}
			}
			.nav-category-children{
				padding: 0 0 0 5%;
				li{
					margin-bottom: 5px;

					&:first-child{
							margin-top: 10px;
						}
					a{
						font-size: 1.1em;
						color: lighten($black, 30%);
					}
				}
			}


		}

	}

	.right-section{
		.tiles{

			li{
				@include transition(all .3s $ease-out-quad);
				float: left;
				width: calc(33.3% - 40px);
				display: block;
				margin: 20px;
				@include border-radius(5px);
				border: 1px solid darken($grey, 30%);
				border-bottom: none;

				&:hover a img{
					opacity: 0.7
				}

				a {
					

					h3{ 
						color: $black;
						font-weight: 400;
						text-align: center;
					}

					img {
						@include transition(all .3s $ease-out-quad);
						width: 100%;
					}

					
				}
			}
		}
	}
}

